@page
@model BenchmarkModel
@{
    ViewData["Title"] = "Benchmark";
}

<div class="bg">
    <div class="content">
        <h1>Benchmark</h1>
        <p>This page explains how to run the Final Fantasy XIV benchmark tool to test and optimize game performance on your system.</p>

        <img src="~/images/benchmark.jpg" alt="Benchmark" class="img-responsive">

        <p>Click the following link and follow the instructions to download and run the tool <a href="https://na.finalfantasyxiv.com/benchmark/" style="color: #add8e6;">here</a>.</p>
    </div>
</div>
