@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="bg">
    <div class="content">
        <h1 class="display-4">Welcome to Final Fantasy XIV</h1>
        <h2>Have you heard of the critically acclaimed MMORPG Final Fantasy XIV? With an expanded free trial which you can play through the entirety of A Realm Reborn, the award-winning Heavensward expansion, and the entirety of Stormblood up to level 70 for free with no restrictions on playtime.</h2>
        <p>Final Fantasy XIV is a massively multiplayer online role-playing game (MMORPG) where players immerse themselves in the realm of Eorzea. Experience epic quests, battle through dungeons with friends, and participate in a dynamic storyline that evolves with each expansion.</p>
        <p>Explore this beautiful world filled with breathtaking landscapes, complex characters, and intricate story arcs that fans of the series and newcomers alike can enjoy.</p>
        <p>Learn more about the game and join the adventure <a href="https://www.finalfantasyxiv.com" style="color: #add8e6;">here</a>.</p>
    
        <img src="~/images/america-needs-you.jpg" alt="America Needs You" class="img-responsive">
    
    </div>
</div>
